<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">  
  <link href="/css/chat.css" rel="stylesheet">  
  
  <script type="text/template" id="tNewComment">
   <div class="row separator">
		<div class="span10"> 
				<div class="alert alert-success comment">						
						<p><span id="sName"> {{name}}</span></p>
						<p><span id="sComment">{{comment}}</span></p>
				</div>
		</div>		
  </div>  
  </script>
  </head>
  <body>       
  
  <div class="container">    
  <div id="mainPanel">  
  <div id="comments">  
  <div class="row">
		<div class="span12">
	<a href="#configuration" id="aConfigurator" class="aOptions separator">Configuration</a>
	</div>
  </div>
  
  <div class="row separator">
		<div class="span10"> 
				<div class="alert alert-info">
						Aqu&iacute va el mensaje de inicio
				</div>
		</div>
  </div>
  
  
  </div>
  
  <div class="row">
  <div class="span5">
  <form class="well">
		<label>Nombre:</label>
		<input type="text" class="span3" placeholder="oscar calvo" id="iName"></input>
		<label>Comentario:</label>		
		<textarea class="input-xlarge" rows="3" id="tComment"></textarea>  
		<p>
		<button type="submit" class="btn" id="bSend">Enviar</button>
		</p>		
  </form>
  </div>
</div>
</div>
<div id="configuration" class="hidden">
 <div class="row">
		<div class="span12">
	<a href="#" id="aComments" class="aOptions separator">Comments</a>
	</div>
  </div>
		<h1>configuracion</h1>
		
		<div class="row separator">		
			<div class="span10">
				<label class="checkbox">
					Show updates by key
					<input type="checkbox" id="chByKey"></input>
				</label>
			</div>
		</div>
</div>

  </div>  
 
    <script src="/bootstrap/js/bootstrap-transition.js"></script>
    <script src="/bootstrap/js/bootstrap-alert.js"></script>
    <script src="/bootstrap/js/bootstrap-modal.js"></script>
    <script src="/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="/bootstrap/js/bootstrap-tab.js"></script>
    <script src="/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/bootstrap/js/bootstrap-popover.js"></script>
    <script src="/bootstrap/js/bootstrap-button.js"></script>
    <script src="/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="/bootstrap/js/bootstrap-typeahead.js"></script>
	<script src="/scripts/jquery.min.js"></script> 
	<script src="/scripts/pusher.min.js"></script>
	<script src="/scripts/underscore-min.js"></script>
	<script src="/scripts/backbone-min.js"></script>
	<script src="/scripts/pusherSync.js"></script>
	<script src="/scripts/chat.js"></script> 

	
	
	
  </body>
  </html>